// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

html, body {
	height: 100%;
}

.navbar-inner .container {
	width: 960px;
}

.content {
	width: 220px;
	margin: 20px auto;
}

.centered {
	text-align: center;
}

.right {
	text-align: right;
}

.table td.right {
	text-align: right;
}

.vertical-margin {
	margin-top: 30px;
	margin-bottom: 30px;
}

.vertical-margin-less {
	margin-top: 10px;
	margin-bottom: 10px;
	p {
		margin: 0;
		padding: 0;
	}
}

.top-margin {
	margin-top: 15px;
}

.bordered {
	border: 1px solid $grayLight;
}

.thumb {
	width: 100px;
}

.visit-record {
	width: 330px;
	margin: 20px auto;
}

.floating-left-label {
	float: left;
	margin-right: 15px;
}

.wrap {
	min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -57px;
}

#footer {
	clear: both;
	position: relative;
	height: 57px;
}
