<footer>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to image_tag("cleteci-logo.png", alt: "Cleteci", class: "brand"), "http://www.cleteci.com" %>
				<div class="pull-right vertical-margin-less">
					<p>Elaborado por <%= link_to "CLETECI C.A.", "http://www.cleteci.com" %> <span>Todos los derechos reservados</span></p> 
					<aside class="pull-right">
						¿Algún problema? Escríbanos a <%= link_to "hola@cleteci.com", "mailto:hola@cleteci.com"  %>
					</aside>					
				</div>
			</div>
		</div>	
	</div>
</footer>
