<header class="cross-bar">
<!-- Navigation Bar -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "Guestlog", root_path, class: "brand" %>				
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>					    	
				<nav Class="nav-collapse">		
					<ul class="nav pull-right">					
						<li class="active">
							<a>Opci贸n1</a>
							<aside></aside>
						</li>
						<li>
							<a>Opci贸n2</a>
							<aside></aside>
						</li>
						<li>
							<a>Opci贸n3</a>
							<aside></aside>
						</li>
						<% if signed_in?%>
							<li>
								<%= link_to "Cerrar Sesi贸n", signout_path, method: "delete" %>
								<aside></aside>
							<li>
						<% end %>										
					</ul>
				</nav>
			</div>
		</div>	
	</div>
</header>
